<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 mx-auto">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">بازنشانی رمز</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="resetPasswordForm">
              <input type="hidden" formControlName="userName" />
              <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="resetPasswordForm.controls['resetCode'].dirty && resetPasswordForm.hasError('required','resetCode')" >
                  <span class="fa fa-key p-2"></span>
                  <input
                    formControlName="resetCode"
                    type="text"
                    placeholder="کد بازنشانی" />
                </div>
              </div>
              <small class="text-danger"
                  *ngIf="resetPasswordForm.controls['resetCode'].dirty && resetPasswordForm.hasError('required','resetCode')">
                وارد کردن کد الزامی است!
              </small>
              <div class="form-group pt-3">
                <div class="input-field"
                    [class.error]="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.hasError('required','newPassword')" >
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="newPassword" [type]="type" placeholder="رمز ورود">
                  <span id="eye-fa" (click)="onHideShowPass()" class="fa {{eyeIcon}}"></span>
                </div>
              </div>
              <small class="text-danger"
              *ngIf="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.hasError('required','newPassword')">
                وارد کردن رمز جدید الزامی است!
              </small>

              <div class="form-group pt-3">
                <div class="input-field"
                     [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.controls['confirmPassword'].invalid">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="confirmPassword" [type]="type" placeholder="تأیید رمز ورود">
                </div>
              </div>
              <small class="text-danger"
                     *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.controls['confirmPassword'].hasError('required')">
                تأیید رمز ورود الزامی است
              </small>
              <small class="text-danger"
                     *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.controls['confirmPassword'].dirty">
                رمز عبور و تأیید آن مطابقت ندارند
              </small>

              <button type="submit" (click)="onSubmit()"
                      class="btn btn-primary btn-block mt-4 w-100">
                بازنشانی رمز
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
